@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $('#nav-home-page').addClass('active');
        });
    </script>
}